<div class="header--logo-container">
  <a href="/">
      <img src="./logo.png" alt="Logo Compañia">
  </a>
</div>
<div class="header--navbar-container">
  <ul>
      <li>
        <a href="/">
          <%= people%>
        </a>
      </li>
      <li>
        <a href="/login">
          Exit
        </a>
      </li>
  </ul>
</div>