<div class="containerSidebar">
    <div class="SidebarHome">
        <ul>
            <li class="buttonSidebar"> <a href="/read">CARGAR</a> </li>
            <li class="buttonSidebar"> <a href="/event">EVENTOS</a> </li>
            <li class="buttonSidebar"> <a href="/search">CONSULTAR</a> </li>
        </ul>
    </div>
    <div>
        <p>All rights reserved.</p>
        <p>Copyright © 2023 San Juan de Dios</p>
    </div>
</div>
<div class="buttonLogout">
    <ul> <li> <a href="/login">Exit</a> </li></ul>
</div>