<%- include('../templates/cabezera')-%>
<link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="Style.css">
<body>
    <header>
        <%- include('../templates/head')-%>
    </header>
    <%- include('../templates/event')-%>
</body>