<link rel="stylesheet" href="./style.css">
<section class="container-form">
    <form action="" method="post">
        <img src="./Login.png" alt="Login" class="img-login">
        <div class="container-input-login">
            <img src="./user.png" alt="user" class="img-form-login-user">
            <input type="text" name="user" id="user" placeholder="Usuario">
        </div>
        <div class="container-input-login">
            <img src="./unlocked.png" alt="password" class="img-form-login-password">
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        <input type="submit" value="LOGIN" class="input-button-login">
    </form>
</section>